h2{
    color:blue;
}

h3{
    font-style:italic;
}

table
{
    border-collapse: collapse;
}

table tr th, table tr td
{
    border:1px solid black;
}

table tr td:nth-child(1)
{
    width: 600px;
    /* background-color:red; */
}

table tr td:nth-child(n+2)
{
    width: 150px;
    /* background-color:blue; */
}

.cellbold
{
    font-weight: bold;
}

.redHighlight
{
    background-color:rgb(250, 150, 150);
}

.greenHighlight
{
    background-color:rgb(185, 255, 228)
}